<!-- masthead -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-muted">A selection of my projects...</p>
    <p>
      <%= link_to 'Learn more', about_me_path, class: 'btn btn-secondary my-2' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-primary my-2' %>      
    </p>
  </div>
</section>
<!-- /masthead -->

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row justify-content-md-center">
      <p><%= link_to "Create New Item", new_portfolio_path, class: 'btn btn-outline-success' if logged_in?(:site_admin) %></p>
    </div>

    <div class="row">

      <%= render partial: 'portfolio_item', collection: @portfolio_items %>

    </div> <!-- /.row -->
    
  </div> <!-- /.container -->
</div> <!-- .album -->
